<html>
    <body>
        <h1><%=%pelicula.title></h1>
        form action="/movies/delete/<%=pelicula.id%>" method="POST">
            <button type="submit">DELETE</button>
        </form>
    </body>
</html>